




.list {
    display: flex;
    flex-wrap: wrap;
    max-height: 130px;
    justify-content: space-evenly;
    margin-left: 10%;

}

.list article {
    border: solid 1px black;
    padding: 5px;
    width: 25%;
    text-align:left;

}

.pageHeader {
    text-align: center;
}