body {
    background-image: url(/images/coffeeHouse2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 250px;
    background-blend-mode: lighten;
}




.list {
    display: flex;
    flex-wrap: wrap;
    max-height: 130px;
    justify-content: space-evenly;
    margin-left: 10%;

}

.list article {
    border: solid 1px black;
    padding: 5px;
    width: 25%;
    text-align:left;
    background-color: rgba(255, 228, 196, 0.6);

}

.pageHeader {
    text-align: center;
    color:beige;
    text-shadow: 2px 2px black;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-bottom: 0px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 3px;
    color:saddlebrown;
}

p {
    margin: 2px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 3px;
    gap: 20px;
}